// DEBUG
.debug
	.boundaries, &.boundaries
		div
			outline solid 1px #888
		*:not(div)
			outline dashed 1px #FF1DFF

@import './fonts'
	
// Clear elements
header, article, footer,
div, input, button, textarea, svg, img,
span, a, p, q, b, i, label
	margin: 0
	padding: 0

header, article, footer,
div, input, button, textarea, svg, img,
span, a, p, q, b, i, label, ul, li
h1, h2, h3, h4, h5, h6
	transition var(--default-transition)
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	-o-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		margin: 0
		padding: 0
		border: none
		background: none
		outline: none
		transition var(--default-transition)
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		-o-box-sizing: border-box
		box-sizing: border-box

html, body
	display flex
	width 100%
	height 100%
	margin 0
	font-family var(--app-default-font)
	background-color: var(--app-bg)
	&.black-theme
		--app-bg #000
		--app-fg #FFF
		--app-fg-h3 #999
		--app-divider-color #fff
		--app-divider-opacity .1
		--code-snippet-bg #222
		--code-snippet-fg #DDD

@media screen and (max-width 768px)
	html.lock-scroll
		overflow hidden

body
	justify-content center
	color var(--app-fg)

#app
	background none
	width 100%
	max-width 960px
	> div
		width 100%

a
	text-decoration none

h1, h2, h3, h4, h5, h6,
p, q, b, i, span
	color var(--app-fg)
	line-height var(--app-line-height)

span, input, button, a, q, .qoute, p, b, .bold, label,
pre, code, i, textarea, .monospace, tt,
strike, mark, u, .underline, strike, .strike
	font-size: var(--app-font-size)
	&.primary1
		color: var(--theme-primary)

// span, input, q, p, b,
// pre, code, i, .monospace, label
// 	transition none

.thin-font
	font-weight 100
	> *
		font-weight 100
.light-font
	font-weight 200
	> *
		font-weight 200
.default-font
	font-weight 400
	> *
		font-weight 400
.medium-font
	font-weight 600
	> *
		font-weight 600
.bold-font
	font-weight 700
	> *
		font-weight 700
.bolder-font
	font-weight 900
	> *
		font-weight 900

p, .paragraph
	margin-top: .5rem
	flex: 0 0 auto

i, .italic
	font-style: italic

b, .bold
	font-weight 700

q, .quote
	font-style: italic
	padding-left: .25rem
	opacity: .5
	&:before
		content: open-quote
	&:after
		content: close-quote
	&:before
		position: relative
		top: .6rem
		right: .15rem

u, .underline
	text-decoration: underline
.underline
	&-dashed
		text-decoration: underline
		text-decoration-style: dashed
	&-dotted
		text-decoration: underline
		text-decoration-style: dotted
	&-wavy
		text-decoration: underline
		text-decoration-style: wavy

strike, .strike
	opacity: .5
	text-decoration: line-through

a.link
	position: relative
	cursor: pointer
	text-decoration: none
	&:before
		content: ''
		position: absolute
		left: 0
		display: inline-block
		height: 100%
		width: 0
		border-bottom: solid .1rem
		border-color: inherit
	> *
		color: inherit
	&:hover, &:active, &:focus
		&:before
			width: 100%

a, q, .qoute, b, .bold, i, .italic
	&.adapt-to-text
		margin: 0 .25rem

.custom-block
	border-left 4px solid var(--fg-accent)
	padding-left 1rem
	padding-top 1rem
	padding-bottom 1rem
	background #FAFAFA
	.custom-block-title
		color var(--fg-accent)
		font-weight bold
		padding 0
		margin 0
	& > p
		margin 0
		margin-top .5rem
	&.danger
		border-left 4px solid var(--fg-danger)
		.custom-block-title
			color var(--fg-danger)
			font-weight bold
	&.warning
		border-left 4px solid var(--fg-warning)
		.custom-block-title
			color var(--fg-warning)
			font-weight bold

#site-container
	display flex
	flex-flow row nowrap
	justify-content space-between
	padding 0 1rem 2rem 1rem
	#navigation
		position sticky
		position -webkit-sticky
		top 0
		width 384px
		height 100%
		max-height 100vh
		overflow-y auto
		padding 2rem 2rem 2rem 0
	.content
		width 100%
		flex 1 1 auto
	.header-anchor
		font-size inherit
		color var(--app-fg)
		opacity .3
		transition var(--default-transition)
		&hover
			color var(--fg-accent)

.language-
	margin 1rem 0
	padding .5rem 1rem
	background var(--code-snippet-bg)
	color var(--code-snippet-fg)
	overflow-x auto
	& > .language-text
		tab-size 4
		line-height 1
		font-family 'FiraCodeRegular'

@media screen and (max-width 768px)
	#app #site-container #navigation
		display none
