:root
	--theme-primary #05f
	--app-bg #FFF
	--app-fg #000
	--app-font-size 1rem
	--app-default-font 'LatoWeb'
	--app-line-height 1.5
	--code-snippet-bg #F8F8F8
	--code-snippet-fg #222
	--fg-accent #00A92F
	--fg-danger #F00
	--fg-warning #E7C000
	--default-transition all 300ms cubic-bezier(.22, .61, .36, 1)
	--modal-background-color rgba(#000, .1)
	--modal-shadow:
		0 0 1px rgba(#000, .1),
		0 5px 40px rgba(#000, .1)
	--app-divider-color #000
	--app-divider-opacity .05

$foregroundAccent = #00A92F
$foregroundDanger = #F00
$foregroundWarning = #E7C000

$defaultTransition(duration = .1s)
	transition all duration cubic-bezier(0.25, 0.46, 0.45, 0.94)